.moment-view {
	bottom: 100px;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	right: 0;
	top: 0;
}

.moment-view-event {
	background-size: cover !important;
	height: calc(100vh - 100px);
	position: relative;
	width: 100%;
}

.moment-view-event-title {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.75);
	color: #ffffff;
	font-size: 18px;
	left: 0;
	padding: 10px;
	position: absolute;
	right: 0;
	text-align: center;
}

.moment-view-event-title span:first-child {
	font-weight: bold;
}

.moment-view-event-title span:last-child {
	font-style: italic;
}